<h2><%= @user.username %>'s artwork</h2>

<ul>
  <% @user.images.each do |image| %>
  <li><%= image_tag(image.image) %><%= image.description %>
  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_image_path(@user, image) %>
    <%= link_to "Delete", user_image_path(@user, image), :method => 'delete' %>
  <% end %>

  </li>
  <% end %>
</ul>

<%= link_to "Add an image", new_user_image_path(@user) %>
